---
# Lambda School Data Science - Intro to Pandas
---
# Assignment 06 - Indexing & Subsetting DataFrames
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_assign6"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

---

### Import `pandas`

Yep, we're working with `pandas` again. This import statement will become very familiar. Make sure to use the standard alias.

In [ ]:
# Import pandas

import pandas as pd

### 1.1 - Read in your data
Your dataset can be found [here](https://raw.githubusercontent.com/axrd/datasets/master/tipdata.csv). You'll use a `pandas` method to read in the URL, as demonstrated in the lecture.

In the following cell, import the data and return the first five rows.

In [ ]:
# Import data
# columns: ,total_bill,tip,sex,smoker,day,time,size

df = pd.read_csv('https://raw.githubusercontent.com/axrd/datasets/master/tipdata.csv')
df.head(5)

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           0       16.99  1.01  Female     No  Sun  Dinner     2
1           1       10.34  1.66    Male     No  Sun  Dinner     3
2           2       21.01  3.50    Male     No  Sun  Dinner     3
3           3       23.68  3.31    Male     No  Sun  Dinner     2
4           4       24.59  3.61  Female     No  Sun  Dinner     4

### 1.2 - What is the shape of the DataFrame?

Use a `pandas` method and assign the shape result to the variable `myshape`.

In [ ]:
# Determine the shape of the DataFrame

myshape = df.shape

### Solution 1.2 - Run the following cell to check your answer.

In [ ]:
# DO NOT EDIT THIS CELL
# SOLUTION 1.2

# Verify the shape of the DataFrame
assert myshape == (244, 8), "The shape of your DataFrame isn't correct."

### 1.3 - Take a look at the general information about your data.

In the following cell, use another `pandas` method to explore your data. Specifically, use the `.info()` method,  Then, in the next cell after that, answer some questions about it.

In [ ]:
# Learn about your data set with a pandas method

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  244 non-null    int64
 1   total_bill  244 non-null    float64
 2   tip         244 non-null    float64
 3   sex         244 non-null    object
 4   smoker      244 non-null    object
 5   day         244 non-null    object
 6   time        244 non-null    object
 7   size        244 non-null    int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.4+ KB

### 1.4 - User Input Questions: Run the following cell and answer some questions.

Using the infomation you printed out in the previous cell, answer the following questions. When you execute the following cell, you will be prompted to enter your answers. Press enter after you enter each answer.

There is an answer check after when you've completed the input cells.

In [ ]:
# DO NOT EDIT THIS CELL
# Question 1.4 User Input

entries = input("How many entries are in your DataFrame?\n")
tips = input("How many non-null entries are there in the 'tip' column?\n")
size_type = input("Is the data type for the size column 1) an integer or 2) float?\nChoose 1 or 2.\n")
total_null = input("How many null values are there in the 'total_bill' column? (enter a numeral)\n")

How many entries are in your DataFrame?
244
How many non-null entries are there in the 'tip' column?
244
Is the data type for the size column 1) an integer or 2) float?
Choose 1 or 2.
1
How many null values are there in the 'total_bill' column? (enter a numeral)
0

### Solution 1.4 - Run the following cell to check your answers.

In [ ]:
# DO NOT EDIT THIS CELL
# SOLUTION 1.4

# Verify the user input
assert entries == str(244), "The number of entries in the DataFrame should be 244."
assert tips == str(244), "The number of non-null tips should be 244."
assert size_type == str(1), "The size colum is an integer (choice 1)."
assert total_null == str(0), "There are zero non-null values in the total_bill column."

### 1.5 - Retrieve values from a DataFrame

As you saw in the lecture video, there are a few different ways to access specific values in a DataFrame. Now we have a chance to practice them here. 

First, display the first five rows of the DataFrame to remind us what we're working with.

In [ ]:
# Display the first 5 rows of df
df.head(5)

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           0       16.99  1.01  Female     No  Sun  Dinner     2
1           1       10.34  1.66    Male     No  Sun  Dinner     3
2           2       21.01  3.50    Male     No  Sun  Dinner     3
3           3       23.68  3.31    Male     No  Sun  Dinner     2
4           4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# What is the gender of the server in the 41st entry?
# assign your answer to the variable gender41
gender41 = df['sex'][40]
print (gender41)

# Was the 22nd entry seated in a smoking section?
# assign your answer to smoke22
smoke22 = df['smoker'][21]
print (smoke22)

Male
No

### Solution 1.5 - Run the cell below to check your answers.

In [ ]:
# DO NOT EDIT THIS CELL
# SOLUTION 1.5

# Check your answer
assert gender41 == df['sex'][40], "The correct answer is 'Male' for the gender."
assert smoke22 == df['smoker'][21], "The correct answer is 'No' for smoking section."

### 1.6 - Indexing a DataFrame
So far in this pre-course, we've "sliced" both lists and `numpy` arrays. Now we'll practice our DataFrame slicing to get a range of values. We'll do this using the index of the DataFrame.

In the following cells, select the last 20 entries but do this two different ways. Then, return entries 25 through 50 (the values at indices 25 to 50). Hint: `pandas` `.iloc` method is *not* inclusive of endpoints.

In [ ]:
# Return the last 20 entries - one way
print (df.tail(20))

# And a second way
print(df.iloc[224:][:])

     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
224         224       13.42  1.58    Male    Yes   Fri   Lunch     2
225         225       16.27  2.50  Female    Yes   Fri   Lunch     2
226         226       10.09  2.00  Female    Yes   Fri   Lunch     2
227         227       20.45  3.00    Male     No   Sat  Dinner     4
228         228       13.28  2.72    Male     No   Sat  Dinner     2
229         229       22.12  2.88  Female    Yes   Sat  Dinner     2
230         230       24.01  2.00    Male    Yes   Sat  Dinner     4
231         231       15.69  3.00    Male    Yes   Sat  Dinner     3
232         232       11.61  3.39    Male     No   Sat  Dinner     2
233         233       10.77  1.47    Male     No   Sat  Dinner     2
234         234       15.53  3.00    Male    Yes   Sat  Dinner     2
235         235       10.07  1.25    Male     No   Sat  Dinner     2
236         236       12.60  1.00    Male    Yes   Sat  Dinner     2
237         237       32.83  1.17    Male    Yes   Sat  Dinner     2
238         238       35.83  4.67  Female     No   Sat  Dinner     3
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2
     Unnamed: 0  total_bill   tip     sex smoker   day    time  size
224         224       13.42  1.58    Male    Yes   Fri   Lunch     2
225         225       16.27  2.50  Female    Yes   Fri   Lunch     2
226         226       10.09  2.00  Female    Yes   Fri   Lunch     2
227         227       20.45  3.00    Male     No   Sat  Dinner     4
228         228       13.28  2.72    Male     No   Sat  Dinner     2
229         229       22.12  2.88  Female    Yes   Sat  Dinner     2
230         230       24.01  2.00    Male    Yes   Sat  Dinner     4
231         231       15.69  3.00    Male    Yes   Sat  Dinner     3
232         232       11.61  3.39    Male     No   Sat  Dinner     2
233         233       10.77  1.47    Male     No   Sat  Dinner     2
234         234       15.53  3.00    Male    Yes   Sat  Dinner     2
235         235       10.07  1.25    Male     No   Sat  Dinner     2
236         236       12.60  1.00    Male    Yes   Sat  Dinner     2
237         237       32.83  1.17    Male    Yes   Sat  Dinner     2
238         238       35.83  4.67  Female     No   Sat  Dinner     3
239         239       29.03  5.92    Male     No   Sat  Dinner     3
240         240       27.18  2.00  Female    Yes   Sat  Dinner     2
241         241       22.67  2.00    Male    Yes   Sat  Dinner     2
242         242       17.82  1.75    Male     No   Sat  Dinner     2
243         243       18.78  3.00  Female     No  Thur  Dinner     2

In [ ]:
# Return entries 25 through 50 (in whichever way you'd prefer)

df[25:51][:]

    Unnamed: 0  total_bill   tip     sex smoker  day    time  size
25          25       17.81  2.34    Male     No  Sat  Dinner     4
26          26       13.37  2.00    Male     No  Sat  Dinner     2
27          27       12.69  2.00    Male     No  Sat  Dinner     2
28          28       21.70  4.30    Male     No  Sat  Dinner     2
29          29       19.65  3.00  Female     No  Sat  Dinner     2
30          30        9.55  1.45    Male     No  Sat  Dinner     2
31          31       18.35  2.50    Male     No  Sat  Dinner     4
32          32       15.06  3.00  Female     No  Sat  Dinner     2
33          33       20.69  2.45  Female     No  Sat  Dinner     4
34          34       17.78  3.27    Male     No  Sat  Dinner     2
35          35       24.06  3.60    Male     No  Sat  Dinner     3
36          36       16.31  2.00    Male     No  Sat  Dinner     3
37          37       16.93  3.07  Female     No  Sat  Dinner     3
38          38       18.69  2.31    Male     No  Sat  Dinner     3
39          39       31.27  5.00    Male     No  Sat  Dinner     3
40          40       16.04  2.24    Male     No  Sat  Dinner     3
41          41       17.46  2.54    Male     No  Sun  Dinner     2
42          42       13.94  3.06    Male     No  Sun  Dinner     2
43          43        9.68  1.32    Male     No  Sun  Dinner     2
44          44       30.40  5.60    Male     No  Sun  Dinner     4
45          45       18.29  3.00    Male     No  Sun  Dinner     2
46          46       22.23  5.00    Male     No  Sun  Dinner     2
47          47       32.40  6.00    Male     No  Sun  Dinner     4
48          48       28.55  2.05    Male     No  Sun  Dinner     3
49          49       18.04  3.00    Male     No  Sun  Dinner     2
50          50       12.54  2.50    Male     No  Sun  Dinner     2

### Solution 1.6 - Run the cell below to see the solution.

In [ ]:
# DO NOT EDIT THIS CELL
# SOLUTION 1.6

# Solution (the print statements have been left out to reduce the output)
df.tail(20) # one method
df.iloc[-20:] # another method
df.iloc[25:51, :]

    Unnamed: 0  total_bill   tip     sex smoker  day    time  size
25          25       17.81  2.34    Male     No  Sat  Dinner     4
26          26       13.37  2.00    Male     No  Sat  Dinner     2
27          27       12.69  2.00    Male     No  Sat  Dinner     2
28          28       21.70  4.30    Male     No  Sat  Dinner     2
29          29       19.65  3.00  Female     No  Sat  Dinner     2
30          30        9.55  1.45    Male     No  Sat  Dinner     2
31          31       18.35  2.50    Male     No  Sat  Dinner     4
32          32       15.06  3.00  Female     No  Sat  Dinner     2
33          33       20.69  2.45  Female     No  Sat  Dinner     4
34          34       17.78  3.27    Male     No  Sat  Dinner     2
35          35       24.06  3.60    Male     No  Sat  Dinner     3
36          36       16.31  2.00    Male     No  Sat  Dinner     3
37          37       16.93  3.07  Female     No  Sat  Dinner     3
38          38       18.69  2.31    Male     No  Sat  Dinner     3
39          39       31.27  5.00    Male     No  Sat  Dinner     3
40          40       16.04  2.24    Male     No  Sat  Dinner     3
41          41       17.46  2.54    Male     No  Sun  Dinner     2
42          42       13.94  3.06    Male     No  Sun  Dinner     2
43          43        9.68  1.32    Male     No  Sun  Dinner     2
44          44       30.40  5.60    Male     No  Sun  Dinner     4
45          45       18.29  3.00    Male     No  Sun  Dinner     2
46          46       22.23  5.00    Male     No  Sun  Dinner     2
47          47       32.40  6.00    Male     No  Sun  Dinner     4
48          48       28.55  2.05    Male     No  Sun  Dinner     3
49          49       18.04  3.00    Male     No  Sun  Dinner     2
50          50       12.54  2.50    Male     No  Sun  Dinner     2

### 1.7 - Subsetting DataFrames

As you saw in the lecture, sometimes we want to just use part of a DataFrame in our analysis, especially if we're working with larger datasets. We can get a subset of the data by selecting a range of rows and columns.

In the following cell, create two subsets:
* A DataFrame that contains just the `total_bill` and the `tip` columns. Call this subset `total_tips`. 
* A DataFrame with only the `day` and `size` columns for the first 100 rows. Call this subset `day_size`. Hint: The indices for the two columns to keep should go in a list.

You can use either the `.loc` or the `.iloc` accessor methods.

In [ ]:
# Subset for total_bill and tip

total_tips = df.iloc[:,1:3]
print (total_tips)

# Subset for day and size, first 100 rows

day_size = df.iloc[:101,5:8]
day_size.pop('time')
print (day_size)

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]
     day  size
0    Sun     2
1    Sun     3
2    Sun     3
3    Sun     2
4    Sun     4
..   ...   ...
96   Fri     2
97   Fri     2
98   Fri     2
99   Fri     2
100  Fri     2

[101 rows x 2 columns]

### Solution 1.7 - Run the following cell to view the solution.

In [ ]:
# Please attempt the two exercises first!

# DO NOT EDIT THIS CELL
# SOLUTION 1.7

# Subset for total_bill and tip (2 solutions)
total_tips = df.iloc[:, 1:3]
total_tips = df.loc[:, 'total_bill':'tip']

# Subset for day and size, first 100 rows
day_size = df.iloc[0:100, [5,7]]
day_size = df.loc[0:100, ['day','size']]

### 1.8 - Filtering DataFrames

Filtering is when we subset a DataFrame using various criteria or conditions. We'll continue working with the same dataset and try out some basic filtering.

In the following cell, return all entries where the `size` column has a value greater than 2. In another cell, create a new DataFrame consisting only entries that contain Friday and call it `df_friday`.

In [ ]:
# Return all the entries where the size is greater than 2.
df_friday = df[df['size'] > 2]
print (df_friday)

     Unnamed: 0  total_bill   tip     sex smoker  day    time  size
1             1       10.34  1.66    Male     No  Sun  Dinner     3
2             2       21.01  3.50    Male     No  Sun  Dinner     3
4             4       24.59  3.61  Female     No  Sun  Dinner     4
5             5       25.29  4.71    Male     No  Sun  Dinner     4
7             7       26.88  3.12    Male     No  Sun  Dinner     4
..          ...         ...   ...     ...    ...  ...     ...   ...
227         227       20.45  3.00    Male     No  Sat  Dinner     4
230         230       24.01  2.00    Male    Yes  Sat  Dinner     4
231         231       15.69  3.00    Male    Yes  Sat  Dinner     3
238         238       35.83  4.67  Female     No  Sat  Dinner     3
239         239       29.03  5.92    Male     No  Sat  Dinner     3

[84 rows x 8 columns]

In [ ]:
# Create a DataFrame consisting only of data for Fridays. 
# Hint: You should have 19 rows.

df_friday = df[df['day'] == 'Fri']

### Solution 1.8 - Run the following cell to view the solution.

In [ ]:
# Please make sure you have completed the two previous tasks!

# DO NOT EDIT THIS CELL
# SOLUTION 1.8

# Subset of entries where the size is greater than 2.
print(df['size'] > 2)

# Subset of entries for Friday only
mask = df['day'] == 'Fri'
df_friday = df[mask]
print(df_friday)
print(df_friday.shape)

0      False
1       True
2       True
3      False
4       True
       ...
239     True
240    False
241    False
242    False
243    False
Name: size, Length: 244, dtype: bool
     Unnamed: 0  total_bill   tip     sex smoker  day    time  size
90           90       28.97  3.00    Male    Yes  Fri  Dinner     2
91           91       22.49  3.50    Male     No  Fri  Dinner     2
92           92        5.75  1.00  Female    Yes  Fri  Dinner     2
93           93       16.32  4.30  Female    Yes  Fri  Dinner     2
94           94       22.75  3.25  Female     No  Fri  Dinner     2
95           95       40.17  4.73    Male    Yes  Fri  Dinner     4
96           96       27.28  4.00    Male    Yes  Fri  Dinner     2
97           97       12.03  1.50    Male    Yes  Fri  Dinner     2
98           98       21.01  3.00    Male    Yes  Fri  Dinner     2
99           99       12.46  1.50    Male     No  Fri  Dinner     2
100         100       11.35  2.50  Female    Yes  Fri  Dinner     2
101         101       15.38  3.00  Female    Yes  Fri  Dinner     2
220         220       12.16  2.20    Male    Yes  Fri   Lunch     2
221         221       13.42  3.48  Female    Yes  Fri   Lunch     2
222         222        8.58  1.92    Male    Yes  Fri   Lunch     1
223         223       15.98  3.00  Female     No  Fri   Lunch     3
224         224       13.42  1.58    Male    Yes  Fri   Lunch     2
225         225       16.27  2.50  Female    Yes  Fri   Lunch     2
226         226       10.09  2.00  Female    Yes  Fri   Lunch     2
(19, 8)

### Submit your assignment notebook! (Make sure you've changed the name to FIRSTNAME_LASTNAME_assign6): 

1.  Click the Share button in the upper-right hand corner of the notebook.
2.  Get shareable link
3.  Set condition to: "Anyone with the link can comment"

---