In [1]:
import pandas as pd
# data from https://github.com/datasets/population
data = pd.read_csv('https://raw.githubusercontent.com/singparvi/data-USstates/master/state-population.csv')
data.columns = ['state', 'ages', 'year', 'population']
data

     state     ages  year   population
0       AL  under18  2012    1117489.0
1       AL    total  2012    4817528.0
2       AL  under18  2010    1130966.0
3       AL    total  2010    4785570.0
4       AL  under18  2011    1125763.0
...    ...      ...   ...          ...
2539   USA    total  2010  309326295.0
2540   USA  under18  2011   73902222.0
2541   USA    total  2011  311582564.0
2542   USA  under18  2012   73708179.0
2543   USA    total  2012  313873685.0

[2544 rows x 4 columns]

In [2]:
data = data[data.ages != 'under18']
data.shape
data

     state   ages  year   population
1       AL  total  2012    4817528.0
3       AL  total  2010    4785570.0
5       AL  total  2011    4801627.0
6       AL  total  2009    4757938.0
9       AL  total  2013    4833722.0
...    ...    ...   ...          ...
2535   USA  total  2013  316128839.0
2536   USA  total  2009  306771529.0
2539   USA  total  2010  309326295.0
2541   USA  total  2011  311582564.0
2543   USA  total  2012  313873685.0

[1272 rows x 4 columns]

In [3]:
pd.crosstab(index = data['ages'], columns= 'count')

col_0  count
ages
total   1272

In [4]:
data.drop(labels = 'ages', axis = 1)

     state  year   population
1       AL  2012    4817528.0
3       AL  2010    4785570.0
5       AL  2011    4801627.0
6       AL  2009    4757938.0
9       AL  2013    4833722.0
...    ...   ...          ...
2535   USA  2013  316128839.0
2536   USA  2009  306771529.0
2539   USA  2010  309326295.0
2541   USA  2011  311582564.0
2543   USA  2012  313873685.0

[1272 rows x 3 columns]

In [5]:
data.sort_values(by = 'year')

     state   ages  year  population
1105    MN  total  1990   4389857.0
2447    WY  total  1990    453690.0
1391    NV  total  1990   1220695.0
1488    NM  total  1990   1521574.0
721     IA  total  1990   2781018.0
...    ...    ...   ...         ...
774     KS  total  2013   2893957.0
1544    NY  total  2013  19651127.0
761     IA  total  2013   3090416.0
2007    SD  total  2013    844877.0
1928    SC  total  2013   4774839.0

[1272 rows x 4 columns]

In [6]:
# data.to_csv(r'US_Population.csv')

In [7]:
url_2 = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2019/national/totals/nst-est2019-alldata.csv'

new_pop_data = pd.read_csv(url_2)
new_pop_data.head()

   SUMLEV REGION DIVISION  ...  RNETMIG2017 RNETMIG2018  RNETMIG2019
0      10      0        0  ...     2.871957    2.153911     1.818059
1      20      1        0  ...    -1.837048   -2.134447    -2.859713
2      20      2        0  ...    -0.557370   -0.922755    -1.111173
3      20      3        0  ...     6.198168    5.225519     5.203720
4      20      4        0  ...     4.021194    3.044951     2.312083

[5 rows x 151 columns]

In [8]:
# Extrapolating US population based on 2018-2019 growth
US_Population_2018 = 326687501
US_Population_2019 = 328239523

y_o_y_growth = (US_Population_2019/US_Population_2018)
df = pd.DataFrame()
new_pop_data['POPESTIMATE2020'] = new_pop_data['POPESTIMATE2019'] * y_o_y_growth
new_pop_data['POPESTIMATE2020'] = new_pop_data['POPESTIMATE2020'].apply(int)

In [9]:
# get the list of all the columns 
#new_pop_data.columns.to_list()

In [10]:
#Using the list above to make a subset
new_pop_data_subset = new_pop_data[['NAME',
 'CENSUS2010POP',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015',
 'POPESTIMATE2016',
 'POPESTIMATE2017',
 'POPESTIMATE2018',
 'POPESTIMATE2019',
 'POPESTIMATE2020'
 ]]
new_pop_data_subset = new_pop_data_subset.drop(labels =[1,2,3,4],axis = 0)
new_pop_data_subset = new_pop_data_subset.drop('CENSUS2010POP', axis=1)
new_pop_data_subset.columns = [columns.replace('POPESTIMATE',"") for columns in new_pop_data_subset]
new_pop_data_subset = new_pop_data_subset.drop(labels = ['2010','2011','2012','2013'], axis=1)
new_pop_data_subset.rename(columns={'NAME':'state'}, inplace=True)
new_pop_data_subset

                   state       2014       2015  ...       2018       2019       2020
0          United States  318301008  320635163  ...  326687501  328239523  329798918
5                Alabama    4841799    4852347  ...    4887681    4903185    4926478
6                 Alaska     736283     737498  ...     735139     731545     735020
7                Arizona    6730413    6829676  ...    7158024    7278717    7313296
8               Arkansas    2967392    2978048  ...    3009733    3017804    3032140
9             California   38596972   38918045  ...   39461588   39512223   39699937
10              Colorado    5350101    5450623  ...    5691287    5758736    5786094
11           Connecticut    3594524    3587122  ...    3571520    3565287    3582224
12              Delaware     932487     941252  ...     965479     973764     978390
13  District of Columbia     662328     675400  ...     701547     705749     709101
14               Florida   19845911   20209042  ...   21244317   21477737   21579773
15               Georgia   10067278   10178447  ...   10511131   10617423   10667864
16                Hawaii    1414538    1422052  ...    1420593    1415872    1422598
17                 Idaho    1631112    1651059  ...    1750536    1787065    1795554
18              Illinois   12884493   12858913  ...   12723071   12671821   12732022
19               Indiana    6593644    6608422  ...    6695497    6732219    6764202
20                  Iowa    3109350    3120960  ...    3148618    3155070    3170059
21                Kansas    2900475    2909011  ...    2911359    2913314    2927154
22              Kentucky    4414349    4425976  ...    4461153    4467673    4488897
23             Louisiana    4644013    4664628  ...    4659690    4648794    4670879
24                 Maine    1330513    1328262  ...    1339057    1344212    1350598
25              Maryland    5957283    5985562  ...    6035802    6045680    6074401
26         Massachusetts    6762596    6794228  ...    6882635    6892503    6925247
27              Michigan    9929848    9931715  ...    9984072    9986857   10034302
28             Minnesota    5451079    5482032  ...    5606249    5639632    5666424
29           Mississippi    2990468    2988471  ...    2981020    2976149    2990288
30              Missouri    6056202    6071732  ...    6121623    6137428    6166585
31               Montana    1021869    1030475  ...    1060665    1068778    1073855
32              Nebraska    1879321    1891277  ...    1925614    1934408    1943597
33                Nevada    2817628    2866939  ...    3027341    3080156    3094789
34         New Hampshire    1333341    1336350  ...    1353465    1359711    1366170
35            New Jersey    8864525    8867949  ...    8886025    8882190    8924387
36            New Mexico    2089568    2089291  ...    2092741    2096829    2106790
37              New York   19651049   19654666  ...   19530351   19453561   19545980
38        North Carolina    9932887   10031646  ...   10381615   10488084   10537910
39          North Dakota     737401     754066  ...     758080     762062     765682
40                  Ohio   11602700   11617527  ...   11676341   11689100   11744632
41              Oklahoma    3878187    3909500  ...    3940235    3956971    3975769
42                Oregon    3963244    4015792  ...    4181886    4217737    4237774
43          Pennsylvania   12788313   12784826  ...   12800922   12801989   12862808
44          Rhode Island    1055936    1056065  ...    1058287    1059361    1064393
45        South Carolina    4823617    4891938  ...    5084156    5148714    5173174
46          South Dakota     849129     853988  ...     878698     884659     888861
47             Tennessee    6541223    6591170  ...    6771631    6829174    6861617
48                 Texas   26964333   27470056  ...   28628666   28995881   29133634
49                  Utah    2936879    2981835  ...    3153550    3205958    3221188
50               Vermont     625214     625216  ...     624358     623989     626953
51              Virginia    8310993    8361808  ...    8501286    8535519    8576069
52            Washington    7054655    7163657  ...    7523869    7614893    7651069
53         West Virginia    1849489    1842050  ...    1804291    1792147    1800661
54             Wisconsin    5751525    5760940  ...    5807406    5822434    5850095
55               Wyoming     582531     585613  ...     577601     578759     581508
56           Puerto Rico    3534874    3473232  ...    3193354    3193694    3208866

[53 rows x 8 columns]

In [11]:
# importing states codes
state_code_url = 'https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv'
state_codes = pd.read_csv(state_code_url)
state_codes = state_codes[['code', 'state']]
state_codes
#Adding another row with 
add = {'code':['USA'],
       'state':['United States']}
add = pd.DataFrame(data = add, columns= ['code', 'state'],)
state_codes = pd.concat([state_codes, add], axis=0)

In [12]:
new_pop_data_subset

                   state       2014       2015  ...       2018       2019       2020
0          United States  318301008  320635163  ...  326687501  328239523  329798918
5                Alabama    4841799    4852347  ...    4887681    4903185    4926478
6                 Alaska     736283     737498  ...     735139     731545     735020
7                Arizona    6730413    6829676  ...    7158024    7278717    7313296
8               Arkansas    2967392    2978048  ...    3009733    3017804    3032140
9             California   38596972   38918045  ...   39461588   39512223   39699937
10              Colorado    5350101    5450623  ...    5691287    5758736    5786094
11           Connecticut    3594524    3587122  ...    3571520    3565287    3582224
12              Delaware     932487     941252  ...     965479     973764     978390
13  District of Columbia     662328     675400  ...     701547     705749     709101
14               Florida   19845911   20209042  ...   21244317   21477737   21579773
15               Georgia   10067278   10178447  ...   10511131   10617423   10667864
16                Hawaii    1414538    1422052  ...    1420593    1415872    1422598
17                 Idaho    1631112    1651059  ...    1750536    1787065    1795554
18              Illinois   12884493   12858913  ...   12723071   12671821   12732022
19               Indiana    6593644    6608422  ...    6695497    6732219    6764202
20                  Iowa    3109350    3120960  ...    3148618    3155070    3170059
21                Kansas    2900475    2909011  ...    2911359    2913314    2927154
22              Kentucky    4414349    4425976  ...    4461153    4467673    4488897
23             Louisiana    4644013    4664628  ...    4659690    4648794    4670879
24                 Maine    1330513    1328262  ...    1339057    1344212    1350598
25              Maryland    5957283    5985562  ...    6035802    6045680    6074401
26         Massachusetts    6762596    6794228  ...    6882635    6892503    6925247
27              Michigan    9929848    9931715  ...    9984072    9986857   10034302
28             Minnesota    5451079    5482032  ...    5606249    5639632    5666424
29           Mississippi    2990468    2988471  ...    2981020    2976149    2990288
30              Missouri    6056202    6071732  ...    6121623    6137428    6166585
31               Montana    1021869    1030475  ...    1060665    1068778    1073855
32              Nebraska    1879321    1891277  ...    1925614    1934408    1943597
33                Nevada    2817628    2866939  ...    3027341    3080156    3094789
34         New Hampshire    1333341    1336350  ...    1353465    1359711    1366170
35            New Jersey    8864525    8867949  ...    8886025    8882190    8924387
36            New Mexico    2089568    2089291  ...    2092741    2096829    2106790
37              New York   19651049   19654666  ...   19530351   19453561   19545980
38        North Carolina    9932887   10031646  ...   10381615   10488084   10537910
39          North Dakota     737401     754066  ...     758080     762062     765682
40                  Ohio   11602700   11617527  ...   11676341   11689100   11744632
41              Oklahoma    3878187    3909500  ...    3940235    3956971    3975769
42                Oregon    3963244    4015792  ...    4181886    4217737    4237774
43          Pennsylvania   12788313   12784826  ...   12800922   12801989   12862808
44          Rhode Island    1055936    1056065  ...    1058287    1059361    1064393
45        South Carolina    4823617    4891938  ...    5084156    5148714    5173174
46          South Dakota     849129     853988  ...     878698     884659     888861
47             Tennessee    6541223    6591170  ...    6771631    6829174    6861617
48                 Texas   26964333   27470056  ...   28628666   28995881   29133634
49                  Utah    2936879    2981835  ...    3153550    3205958    3221188
50               Vermont     625214     625216  ...     624358     623989     626953
51              Virginia    8310993    8361808  ...    8501286    8535519    8576069
52            Washington    7054655    7163657  ...    7523869    7614893    7651069
53         West Virginia    1849489    1842050  ...    1804291    1792147    1800661
54             Wisconsin    5751525    5760940  ...    5807406    5822434    5850095
55               Wyoming     582531     585613  ...     577601     578759     581508
56           Puerto Rico    3534874    3473232  ...    3193354    3193694    3208866

[53 rows x 8 columns]

In [13]:
new_pop_data_subset = pd.melt(new_pop_data_subset,id_vars= ['state'], value_vars= ['2014', '2015', '2016', '2017', '2018', '2019', '2020'])
new_pop_data_subset.rename(columns = {'variable': 'year', 'value': 'population'}, inplace= True)

In [14]:
state_codes

   code           state
0    AL         Alabama
1    AK          Alaska
2    AZ         Arizona
3    AR        Arkansas
4    CA      California
5    CO        Colorado
6    CT     Connecticut
7    DE        Delaware
8    FL         Florida
9    GA         Georgia
10   HI          Hawaii
11   ID           Idaho
12   IL        Illinois
13   IN         Indiana
14   IA            Iowa
15   KS          Kansas
16   KY        Kentucky
17   LA       Louisiana
18   ME           Maine
19   MD        Maryland
20   MA   Massachusetts
21   MI        Michigan
22   MN       Minnesota
23   MS     Mississippi
24   MO        Missouri
25   MT         Montana
26   NE        Nebraska
27   NV          Nevada
28   NH   New Hampshire
29   NJ      New Jersey
30   NM      New Mexico
31   NY        New York
32   NC  North Carolina
33   ND    North Dakota
34   OH            Ohio
35   OK        Oklahoma
36   OR          Oregon
37   PA    Pennsylvania
38   RI    Rhode Island
39   SC  South Carolina
40   SD    South Dakota
41   TN       Tennessee
42   TX           Texas
43   UT            Utah
44   VT         Vermont
45   VA        Virginia
46   WA      Washington
47   WV   West Virginia
48   WI       Wisconsin
49   WY         Wyoming
0   USA   United States

In [15]:
new_pop_data_subset = pd.merge(state_codes, new_pop_data_subset, on = 'state')
new_pop_data_subset

    code          state  year  population
0     AL        Alabama  2014     4841799
1     AL        Alabama  2015     4852347
2     AL        Alabama  2016     4863525
3     AL        Alabama  2017     4874486
4     AL        Alabama  2018     4887681
..   ...            ...   ...         ...
352  USA  United States  2016   322941311
353  USA  United States  2017   324985539
354  USA  United States  2018   326687501
355  USA  United States  2019   328239523
356  USA  United States  2020   329798918

[357 rows x 4 columns]

In [16]:
# generate dataframe to include months in new_pop_data_subset
new_pop_data_subset['month'] = 'NaN'

new_pop_data_subset_1 = new_pop_data_subset.copy()
# new_pop_data_subset_2 = new_pop_data_subset.copy()
new_pop_data_subset_1['month'] = 1
# new_pop_data_subset_2['month'] = 2
new_pop_data_subset_2 = new_pop_data_subset.copy()
for i in range (2,13):
  new_pop_data_subset_2['month'] = i
  new_pop_data_subset_1 = pd.concat([new_pop_data_subset_1,new_pop_data_subset_2])
new_pop_data_subset_1

    code          state  year  population  month
0     AL        Alabama  2014     4841799      1
1     AL        Alabama  2015     4852347      1
2     AL        Alabama  2016     4863525      1
3     AL        Alabama  2017     4874486      1
4     AL        Alabama  2018     4887681      1
..   ...            ...   ...         ...    ...
352  USA  United States  2016   322941311     12
353  USA  United States  2017   324985539     12
354  USA  United States  2018   326687501     12
355  USA  United States  2019   328239523     12
356  USA  United States  2020   329798918     12

[4284 rows x 5 columns]

In [17]:
new_pop_data_subset_1[new_pop_data_subset_1['year'] == '2020']

    code          state  year  population  month
6     AL        Alabama  2020     4926478      1
13    AK         Alaska  2020      735020      1
20    AZ        Arizona  2020     7313296      1
27    AR       Arkansas  2020     3032140      1
34    CA     California  2020    39699937      1
..   ...            ...   ...         ...    ...
328   WA     Washington  2020     7651069     12
335   WV  West Virginia  2020     1800661     12
342   WI      Wisconsin  2020     5850095     12
349   WY        Wyoming  2020      581508     12
356  USA  United States  2020   329798918     12

[612 rows x 5 columns]

In [18]:
data.rename(columns = {'state':'code'}, inplace = True)
data.head()
# new_pop_data_subset_1.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  code   ages  year  population
1   AL  total  2012   4817528.0
3   AL  total  2010   4785570.0
5   AL  total  2011   4801627.0
6   AL  total  2009   4757938.0
9   AL  total  2013   4833722.0

In [19]:
data

     code   ages  year   population
1      AL  total  2012    4817528.0
3      AL  total  2010    4785570.0
5      AL  total  2011    4801627.0
6      AL  total  2009    4757938.0
9      AL  total  2013    4833722.0
...   ...    ...   ...          ...
2535  USA  total  2013  316128839.0
2536  USA  total  2009  306771529.0
2539  USA  total  2010  309326295.0
2541  USA  total  2011  311582564.0
2543  USA  total  2012  313873685.0

[1272 rows x 4 columns]

In [20]:
# comment after one run 
data.drop('ages', axis = 1, inplace = True)
new_pop_data_subset_1.drop('state', axis = 1, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [21]:
# generate dataframe to include months in data
data['month'] = 'NaN'

data_1 = data.copy()
data_2 = data.copy()
data_1['month'] = 1
for i in range (2,13):
  data_2['month'] = i
  data_1 = pd.concat([data_1,data_2])
data_1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     code  year   population  month
1      AL  2012    4817528.0      1
3      AL  2010    4785570.0      1
5      AL  2011    4801627.0      1
6      AL  2009    4757938.0      1
9      AL  2013    4833722.0      1
...   ...   ...          ...    ...
2535  USA  2013  316128839.0     12
2536  USA  2009  306771529.0     12
2539  USA  2010  309326295.0     12
2541  USA  2011  311582564.0     12
2543  USA  2012  313873685.0     12

[15264 rows x 4 columns]

In [22]:
merge = pd.concat([data_1, new_pop_data_subset_1])
condition = (merge['code'] == 'AL') & (merge['year'] == 2012)
merge[condition]

  code  year  population  month
1   AL  2012   4817528.0      1
1   AL  2012   4817528.0      2
1   AL  2012   4817528.0      3
1   AL  2012   4817528.0      4
1   AL  2012   4817528.0      5
1   AL  2012   4817528.0      6
1   AL  2012   4817528.0      7
1   AL  2012   4817528.0      8
1   AL  2012   4817528.0      9
1   AL  2012   4817528.0     10
1   AL  2012   4817528.0     11
1   AL  2012   4817528.0     12

In [23]:
# making a new column to match from in the Guns_Sales DataFrame
merge['month'] = merge['month'].apply(str)
merge['code'] = merge['code'].apply(str)
merge['year'] = merge['year'].apply(str)

merge['vlookup'] = merge['code'] + "+" + merge['year']   + "+" + merge['month']

In [24]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19548 entries, 1 to 356
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        19548 non-null  object
 1   year        19548 non-null  object
 2   population  19428 non-null  float64
 3   month       19548 non-null  object
 4   vlookup     19548 non-null  object
dtypes: float64(1), object(4)
memory usage: 916.3+ KB

In [25]:
merge = merge.dropna(axis=0)

In [26]:
merge[merge.code == 'USA']

     code  year   population month      vlookup
2497  USA  1990  249622814.0     1   USA+1990+1
2498  USA  1991  252980942.0     1   USA+1991+1
2501  USA  1992  256514231.0     1   USA+1992+1
2502  USA  1993  259918595.0     1   USA+1993+1
2505  USA  1994  263125826.0     1   USA+1994+1
...   ...   ...          ...   ...          ...
352   USA  2016  322941311.0    12  USA+2016+12
353   USA  2017  324985539.0    12  USA+2017+12
354   USA  2018  326687501.0    12  USA+2018+12
355   USA  2019  328239523.0    12  USA+2019+12
356   USA  2020  329798918.0    12  USA+2020+12

[372 rows x 5 columns]

In [27]:
merge

    code  year   population month      vlookup
1     AL  2012    4817528.0     1    AL+2012+1
3     AL  2010    4785570.0     1    AL+2010+1
5     AL  2011    4801627.0     1    AL+2011+1
6     AL  2009    4757938.0     1    AL+2009+1
9     AL  2013    4833722.0     1    AL+2013+1
..   ...   ...          ...   ...          ...
352  USA  2016  322941311.0    12  USA+2016+12
353  USA  2017  324985539.0    12  USA+2017+12
354  USA  2018  326687501.0    12  USA+2018+12
355  USA  2019  328239523.0    12  USA+2019+12
356  USA  2020  329798918.0    12  USA+2020+12

[19428 rows x 5 columns]

In [28]:
# Export data to a CSV format
merge.to_csv(r'US_Population_1990-2020.csv', index = False)

In [ ]:
merge

    code  year  population month     vlookup
1     AL  2012   4817528.0     1   AL+2012+1
3     AL  2010   4785570.0     1   AL+2010+1
5     AL  2011   4801627.0     1   AL+2011+1
6     AL  2009   4757938.0     1   AL+2009+1
9     AL  2013   4833722.0     1   AL+2013+1
..   ...   ...         ...   ...         ...
345   WY  2016    584215.0    12  WY+2016+12
346   WY  2017    578931.0    12  WY+2017+12
347   WY  2018    577601.0    12  WY+2018+12
348   WY  2019    578759.0    12  WY+2019+12
349   WY  2020    581508.0    12  WY+2020+12

[19056 rows x 5 columns]

In [ ]:
#Gathering data for overall US as well
data = pd.read_csv('https://raw.githubusercontent.com/singparvi/data-USstates/master/state-population.csv')
data.columns = ['state', 'ages', 'year', 'population']
data_US = data[data.state == 'USA']
data_US = data_US[data_US.ages == 'total']
data_US.shape
data_US

     state   ages  year   population
2497   USA  total  1990  249622814.0
2498   USA  total  1991  252980942.0
2501   USA  total  1992  256514231.0
2502   USA  total  1993  259918595.0
2505   USA  total  1994  263125826.0
2508   USA  total  1995  266278403.0
2509   USA  total  1996  269394291.0
2510   USA  total  1997  272646932.0
2513   USA  total  1998  275854116.0
2515   USA  total  2000  282162411.0
2517   USA  total  1999  279040181.0
2518   USA  total  2001  284968955.0
2520   USA  total  2002  287625193.0
2522   USA  total  2003  290107933.0
2524   USA  total  2004  292805298.0
2526   USA  total  2005  295516599.0
2528   USA  total  2006  298379912.0
2530   USA  total  2007  301231207.0
2532   USA  total  2008  304093966.0
2535   USA  total  2013  316128839.0
2536   USA  total  2009  306771529.0
2539   USA  total  2010  309326295.0
2541   USA  total  2011  311582564.0
2543   USA  total  2012  313873685.0

########################- - - - - - -########

In [ ]:
new_pop_data_subset_1 = new_pop_data_subset_1[[]]

In [ ]:
state_codes['state+code'].to_list()

KeyError: ignored

In [ ]:
import pandas as pd
from numpy.random import randint
iterate = ['Alabama+AL',
 'Alaska+AK',
 'Arizona+AZ',
 'Arkansas+AR',
 'California+CA',
 'Colorado+CO',
 'Connecticut+CT',
 'Delaware+DE',
 'Florida+FL',
 'Georgia+GA',
 'Hawaii+HI',
 'Idaho+ID',
 'Illinois+IL',
 'Indiana+IN',
 'Iowa+IA',
 'Kansas+KS',
 'Kentucky+KY',
 'Louisiana+LA',
 'Maine+ME',
 'Maryland+MD',
 'Massachusetts+MA',
 'Michigan+MI',
 'Minnesota+MN',
 'Mississippi+MS',
 'Missouri+MO',
 'Montana+MT',
 'Nebraska+NE',
 'Nevada+NV',
 'New Hampshire+NH',
 'New Jersey+NJ',
 'New Mexico+NM',
 'New York+NY',
 'North Carolina+NC',
 'North Dakota+ND',
 'Ohio+OH',
 'Oklahoma+OK',
 'Oregon+OR',
 'Pennsylvania+PA',
 'Rhode Island+RI',
 'South Carolina+SC',
 'South Dakota+SD',
 'Tennessee+TN',
 'Texas+TX',
 'Utah+UT',
 'Vermont+VT',
 'Virginia+VA',
 'Washington+WA',
 'West Virginia+WV',
 'Wisconsin+WI',
 'Wyoming+WY']
# state_codes['state+code'] = state_codes['state'] + "+" + state_codes['code']
import itertools
df = pd.DataFrame(columns=['code+state', 'year', 'month', 'population'])
# for i,j,k in itertools.product(iterate,range(6), range(1,13)):
  #for i, j in itertools.product(range(x), range(y)):
counter = 0
for i in iterate:
  for j in range (6):
    for k in range(1,13):
      df.loc[counter] = [str(i)] + [2014+j] + [k] + [0]
      counter = counter+1

df
# state_codes['state+code'].to_list()

In [ ]:
for i in iterate:
  for j in range(1):
    df['population'] = list(new_pop_data_subset.loc[new_pop_data_subset['state+code'] == 'i', 'population'][j])

In [ ]:
new_pop_data_subset['state+code']=='Alabama+AL'[0]
new_pop_data_subset.loc[new_pop_data_subset['state+code'] == 'Alabama+AL', 'population'][0]

In [ ]:
new_pop_data_subset['state+code'] = new_pop_data_subset['state'] + "+" + new_pop_data_subset['code']
new_pop_data_subset

In [ ]:
pd.merge(new_pop_data_subset,df,on= 'state+code', how=)

In [ ]:
df.shape
# state_codes['state'].to_list()

In [ ]:
for i in range(3):
  for j in range(3):
    print (i,j)

In [ ]:
for i,j in itertools.product(state,range(5), range(1,13)):
  for j in range