Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape Data 

- Objective 01 - concatenate data using the pandas concat method
- Objective 02 - merge data using pandas merge
- Objective 03 - define the concept of tidy data and describe the format
- Objective 04 - transition between tidy and wide data formats with `melt()` and `pivot()`

Helpful Links:
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables

# [Objective 1](#concat) - Concatenate dataframes with pandas

## Overview

"Concatenate" is a fancy word for joining two things together. For example, we can concatenate two strings together using the `+` operator.

In [1]:
'We can join/concatenate two strings together ' + 'using the "+" operator.'

'We can join/concatenate two strings together using the "+" operator.'

When we "concatenate" two dataframes we will "stick them together" either by rows or columns. Lets look at some simple examples:

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'a': [1,2,3,4], 'b': [4,5,6,7], 'c': [7,8,9,10]})

df2 = pd.DataFrame({'a': [6,4,8,7], 'b': [9,4,3,2], 'c': [1,6,2,9]})

In [4]:
display(df1); display(df2)

   a  b   c
0  1  4   7
1  2  5   8
2  3  6   9
3  4  7  10

   a  b  c
0  6  9  1
1  4  4  6
2  8  3  2
3  7  2  9

### Concatenate by Rows 

concatenating by rows is the default behavior of `pd.concat()` This is often the most common form of concatenation.

In [5]:
pd.concat([df1, df2])

   a  b   c
0  1  4   7
1  2  5   8
2  3  6   9
3  4  7  10
0  6  9   1
1  4  4   6
2  8  3   2
3  7  2   9

In [6]:
pd.concat([df1, df2], ignore_index= True)

   a  b   c
0  1  4   7
1  2  5   8
2  3  6   9
3  4  7  10
4  6  9   1
5  4  4   6
6  8  3   2
7  7  2   9

### Concatenate by Columns

In [7]:
pd.concat([df1, df2], axis =1)

   a  b   c  a  b  c
0  1  4   7  6  9  1
1  2  5   8  4  4  6
2  3  6   9  8  3  2
3  4  7  10  7  2  9

In [8]:
# display (new_df)
# new_df.shape

In [9]:
# rename columns
new_df = pd.concat([df1, df2], axis = 1)

new_df.columns = ['A1', 'B2', 'C3', 'D4', 'E5', 'F6']

display (new_df)

   A1  B2  C3  D4  E5  F6
0   1   4   7   6   9   1
1   2   5   8   4   4   6
2   3   6   9   8   3   2
3   4   7  10   7   2   9

When concatenating dataframes, it is done using the column headers and row index values to match rows up. If these don't match up, then `NaN` values will be added where matches can't be found.

In [10]:
df3 = pd.DataFrame({'a': [4,3,2,1], 'b': [4,5,6,7], 'c': [7,8,9,10]})

df4 = pd.DataFrame({'a': [6,4,8,7,8], 'b': [9,4,3,2,1], 'd': [1,6,2,9,5]})

In [11]:
pd.concat([df3, df4], axis =1)

     a    b     c  a  b  d
0  4.0  4.0   7.0  6  9  1
1  3.0  5.0   8.0  4  4  6
2  2.0  6.0   9.0  8  3  2
3  1.0  7.0  10.0  7  2  9
4  NaN  NaN   NaN  8  1  5

### Concatenate by rows when not all column headers match

In [12]:
pd.concat([df3, df4], axis =0)

   a  b     c    d
0  4  4   7.0  NaN
1  3  5   8.0  NaN
2  2  6   9.0  NaN
3  1  7  10.0  NaN
0  6  9   NaN  1.0
1  4  4   NaN  6.0
2  8  3   NaN  2.0
3  7  2   NaN  9.0
4  8  1   NaN  5.0

### Concatenate by columns when not all row indexes match

In [13]:
pd.concat([df3, df4], axis =1)

     a    b     c  a  b  d
0  4.0  4.0   7.0  6  9  1
1  3.0  5.0   8.0  4  4  6
2  2.0  6.0   9.0  8  3  2
3  1.0  7.0  10.0  7  2  9
4  NaN  NaN   NaN  8  1  5

Whenever we are combining dataframes, if appropriate values cannot be found based on the rules of the method we are using, then missing values will be filled with `NaNs`.

## Follow Along

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

The files that we will be working with are in a folder of CSVs, we need to load that folder of CSVs, explore the CSVs to make sure that we understand what we're working with, and where the important data lies, and then work to combine the dataframes together as necessary. 



Our goal is to reproduce this table which holds the first two orders for user id 1.

In [14]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

In [15]:
#!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz 

# Make sure we're in the top-level /content directory
#
# See below for notes on the cd command and why it's %cd instead of !cd
%cd /content

# https://ipython.readthedocs.io/en/stable/interactive/magics.html magic commands
# shell commands are all denoted by !
# https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

# Remove everything in the current working directory
#
# rm is the remove command
# -rf specifies the "recursive" and "force" options to remove all files in 
# subdirectories without prompting
#
# THIS IS A POWERFUL COMMAND! (NEVER RUN THIS COMMAND ON YOUR COMPUTER)
#
# In this particular case, removing all of the files makes things easier if you
# need to re-run these examples by allowing you start with a clean directory
# every time.
!rm -rf *

# wget retrieves files from a remote location
!wget https://www.dropbox.com/s/pofcl26lvoj6073/instacart-market-basket-analysis.zip

/content
--2020-11-03 20:53:36--  https://www.dropbox.com/s/pofcl26lvoj6073/instacart-market-basket-analysis.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.1, 2620:100:6018:1::a27d:301
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/pofcl26lvoj6073/instacart-market-basket-analysis.zip [following]
--2020-11-03 20:53:36--  https://www.dropbox.com/s/raw/pofcl26lvoj6073/instacart-market-basket-analysis.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc3a2d2abc018a05898f78b3f5dc.dl.dropboxusercontent.com/cd/0/inline/BCgjPoaTasx0qa_iHo8FUWdqHJjA-MdAPQBJpc_LpDcUfPIpxxzFN-djhJKeTxfKCeKniIh_KuQ0Qxh4Tc8m0qnqibjz5aX2KzQJRMSYgrVXih2CR9_FCbL5-Fc3tn8-JIk/file# [following]
--2020-11-03 20:53:37--  https://uc3a2d2abc018a05898f78b3f5dc.dl.dropboxusercontent.com/cd/0/inline/BCgjPoaTasx0qa_iHo8FUWdqHJjA-MdAPQBJpc_LpDcUfPIpxxzFN-djhJKeTxfKCeKniIh_KuQ0Qxh4Tc8m0qnqibjz5aX2KzQJRMSYgrVXih2CR9_FCbL5-Fc3tn8-JIk/file
Resolving uc3a2d2abc018a05898f78b3f5dc.dl.dropboxusercontent.com (uc3a2d2abc018a05898f78b3f5dc.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to uc3a2d2abc018a05898f78b3f5dc.dl.dropboxusercontent.com (uc3a2d2abc018a05898f78b3f5dc.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /cd/0/inline2/BCi8PauT8kirNJZXaOFKtXvVT8CyVmSOwZPf8zO_awdc_359--7j8uDW-otfuI3I-cINy39KgCUO4Au1pypRGfMY4gVi0k_4dVh6RhvpjoftqpEemOvz01xpTkIU_oT-8MWmBWQzee3TeaxSaE2tQTRcRIIJtJeK8ePtWI55H4qKMI-8sb8uw1eCz6cn3NiW1vjNs2B4UmBCVj88NcVXF8nVWlqCGtkX-f1DhRvvM570jCMCFBbf3NJoy41nM9BX_t3iifoDEEQJrDSPefi2njJyNt8gRNkEiL-H6jISItWaehs_DNcAg1JoM3b-PDM-AukTFZ9DRWE9FmQjihZkoWU_cnbE4HQU21roHlrmMk53zw/file [following]
--2020-11-03 20:53:38--  https://uc3a2d2abc018a05898f78b3f5dc.dl.dropboxusercontent.com/cd/0/inline2/BCi8PauT8kirNJZXaOFKtXvVT8CyVmSOwZPf8zO_awdc_359--7j8uDW-otfuI3I-cINy39KgCUO4Au1pypRGfMY4gVi0k_4dVh6RhvpjoftqpEemOvz01xpTkIU_oT-8MWmBWQzee3TeaxSaE2tQTRcRIIJtJeK8ePtWI55H4qKMI-8sb8uw1eCz6cn3NiW1vjNs2B4UmBCVj88NcVXF8nVWlqCGtkX-f1DhRvvM570jCMCFBbf3NJoy41nM9BX_t3iifoDEEQJrDSPefi2njJyNt8gRNkEiL-H6jISItWaehs_DNcAg1JoM3b-PDM-AukTFZ9DRWE9FmQjihZkoWU_cnbE4HQU21roHlrmMk53zw/file
Reusing existing connection to uc3a2d2abc018a05898f78b3f5dc.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 205616541 (196M) [application/zip]
Saving to: ‘instacart-market-basket-analysis.zip’

instacart-market-ba 100%[===================>] 196.09M  64.4MB/s    in 3.0s

2020-11-03 20:53:41 (64.4 MB/s) - ‘instacart-market-basket-analysis.zip’ saved [205616541/205616541]

In [16]:
# Unzip the archive
#
# Creates a new directory called instacart-market-basket-analysis

!unzip instacart-market-basket-analysis.zip

Archive:  instacart-market-basket-analysis.zip
   creating: instacart-market-basket-analysis/
  inflating: __MACOSX/._instacart-market-basket-analysis
  inflating: instacart-market-basket-analysis/order_products__prior.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._order_products__prior.csv.zip
  inflating: instacart-market-basket-analysis/.DS_Store
  inflating: __MACOSX/instacart-market-basket-analysis/._.DS_Store
  inflating: instacart-market-basket-analysis/order_products__train.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._order_products__train.csv.zip
  inflating: instacart-market-basket-analysis/aisles.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._aisles.csv.zip
  inflating: instacart-market-basket-analysis/orders.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._orders.csv.zip
  inflating: instacart-market-basket-analysis/departments.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._departments.csv.zip
  inflating: instacart-market-basket-analysis/products.csv.zip
  inflating: __MACOSX/instacart-market-basket-analysis/._products.csv.zip

In [17]:
# Change into the newly-unzipped directory
#
# % sign is required to change to a new directory -- you can't use !cd like
# other commands
#
# Optional technical details:
#
# % makes the command apply to the **entire notebook environment**, which is
# what you need to do to change the working directory
#
# The ! sign **opens a new shell process** behind the scenes to execute the
# command -- this works fine for regular commands like unzip and ls
#
# Therefore, !cd would apply only to that new shell and wouldn't change the
# global notebook environment
#
# If this makes your heard hurt, don't worry too much about it. We'll talk
# more about the shell and operating systems stuff later in the program.

%cd instacart-market-basket-analysis

/content/instacart-market-basket-analysis

In [18]:
# Unzip all .csv.zip files in the directory
!unzip "*.zip"

Archive:  order_products__train.csv.zip
  inflating: order_products__train.csv
   creating: __MACOSX/
  inflating: __MACOSX/._order_products__train.csv

Archive:  aisles.csv.zip
  inflating: aisles.csv
  inflating: __MACOSX/._aisles.csv

Archive:  orders.csv.zip
  inflating: orders.csv
  inflating: __MACOSX/._orders.csv

Archive:  departments.csv.zip
  inflating: departments.csv
  inflating: __MACOSX/._departments.csv

Archive:  order_products__prior.csv.zip
  inflating: order_products__prior.csv
  inflating: __MACOSX/._order_products__prior.csv

Archive:  products.csv.zip
  inflating: products.csv
  inflating: __MACOSX/._products.csv

6 archives were successfully processed.

In [19]:
# List all csv files in the current directory
# -l specifies the "long" listing format, which includes additional info on each file
# -h specifies "human readable" file size units
!ls -l -h *.csv

-rw-r--r-- 1 root root 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 root root  270 May  2  2017 departments.csv
-rw-r--r-- 1 root root 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 root root  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 root root 104M May  2  2017 orders.csv
-rw-r--r-- 1 root root 2.1M May  2  2017 products.csv

In [20]:
display(example)

### aisles

We don't need anything from aisles.csv

In [21]:
aisles = pd.read_csv('aisles.csv')

print(aisles.shape)
aisles.head()

(134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

### departments

We don't need anything from departments.csv

In [22]:
departments = pd.read_csv('departments.csv')

print(departments.shape)
departments.head()

(21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

### order_products__prior

We need:
- order id
- proudct id
- add to cart order

Everything except for 'reordered'

In [23]:
order_products__prior = pd.read_csv('order_products__prior.csv')

print(order_products__prior.shape)
order_products__prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

### order_products__train

We need:
- order id
- proudct id
- add to cart order

Everything except for 'reordered'

Do you see anything similar between order_products__train and order_products__prior?

In [24]:
order_products__train = pd.read_csv('order_products__train.csv')

print(order_products__train.shape)
order_products__train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

### orders

We need:
- order id
- user id
- order number
- order dow
- order hour of day

In [25]:
orders = pd.read_csv('orders.csv')

print(orders.shape)
orders.head()

(3421083, 7)

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

### products

We need:
- product id
- product name

In [26]:
products = pd.read_csv('products.csv')

print(products.shape)
products.head()

(49688, 4)

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

## Concatenate order_products__prior and order_products__train

In [27]:
order_products = pd.concat([order_products__prior, order_products__train])

order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [28]:
print(order_products__prior.shape)
print(order_products__train.shape)

(32434489, 4)
(1384617, 4)

In [29]:
print(order_products.shape)

(33819106, 4)

## Challenge

Concatenating dataframes means to stick two dataframes together either by rows or by columns. The default behavior of `pd.concat()` is to take the rows of one dataframe and add them to the rows of another dataframe. If we pass the argument `axis=1` then we will be adding the columns of one dataframe to the columns of another dataframe.

Concatenating dataframes is most useful when the columns are the same between two dataframes or when we have matching row indices between two dataframes. 

Be ready to use this method to combine dataframes together during your assignment.

# [Objective 2](#merge) - Merge dataframes with pandas

## Overview

In [30]:
display(example)

Before we can continue we need to understand where the data in the above table is coming from and what why specific pieces of data are held in the specific dataframes.

Each of these CSVs has a specific unit of observation (row). The columns that we see included in each CSV were selected purposefully. For example, everything each row of the `orders` dataframe is a specific and unique order -telling us who made the order, and when they made it. Every row in the `products` dataframe tells us about a specific and unique product that thestore offers. And everything in the `order_products` dataframe tells us about how products are associated with specific orders -including when the product was added to the shopping cart. 

### The Orders Dataframe

Holds information about specific orders, things like who placed the order, what 

- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

### The Products Dataframe

Holds information about individual products.

- product_id
- product_name

### The Order_Products Dataframe

Tells us how products are associated with specific orders since an order is a group of products.

- order_id
- product_id
- add_to_cart_order

As we look at the table that we're trying to recreate, we notice that we're not looking at specific orders or products, but at a specific **USER**. We're looking at the first two orders for a specific user and the products associated with those orders, so we'll need to combine dataframes to get all of this data together into a single table.

**The key to combining all of this information is that we need values that exist in both datasets that we can use to match up rows and combine dataframes.**

## Follow Along

We have two dataframes, so we're going to need to merge our data twice. As we approach merging datasets together we will take the following approach.

1) Identify which to dataframes we would like to combine.

2) Find columns that are common between both dataframes that we can use to match up information.

3) Slim down both of our dataframes so that they only relevant data before we merge.

4) Merge the dataframes.

In [31]:
# first I will merge orders and order_products

merge_one = pd.merge(orders, order_products, how = 'inner', on ='order_id')

merge_one

          order_id  user_id eval_set  ...  product_id  add_to_cart_order  reordered
0          2539329        1    prior  ...         196                  1          0
1          2539329        1    prior  ...       14084                  2          0
2          2539329        1    prior  ...       12427                  3          0
3          2539329        1    prior  ...       26088                  4          0
4          2539329        1    prior  ...       26405                  5          0
...            ...      ...      ...  ...         ...                ...        ...
33819101    272231   206209    train  ...       40603                  4          0
33819102    272231   206209    train  ...       15655                  5          0
33819103    272231   206209    train  ...       42606                  6          0
33819104    272231   206209    train  ...       37966                  7          0
33819105    272231   206209    train  ...       39216                  8          1

[33819106 rows x 10 columns]

In [32]:
all_info = pd.merge(merge_one, products, how = 'inner', on = 'product_id')

display(all_info)

          order_id  user_id  ... aisle_id  department_id
0          2539329        1  ...       77              7
1          2398795        1  ...       77              7
2           473747        1  ...       77              7
3          2254736        1  ...       77              7
4           431534        1  ...       77              7
...            ...      ...  ...      ...            ...
33819101   1320836   202557  ...       64              7
33819102     31526   202557  ...       64              7
33819103    758936   203436  ...       50             19
33819104   2745165   203436  ...       50             19
33819105   3093936   205420  ...      130             14

[33819106 rows x 13 columns]

## ^^^^^ DON'T DO THIS!

I just merged absolutely everything

In [39]:
orders

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
0         2539329        1  ...                 8                     NaN
1         2398795        1  ...                 7                    15.0
2          473747        1  ...                12                    21.0
3         2254736        1  ...                 7                    29.0
4          431534        1  ...                15                    28.0
...           ...      ...  ...               ...                     ...
3421078   2266710   206209  ...                18                    29.0
3421079   1854736   206209  ...                10                    30.0
3421080    626363   206209  ...                12                    18.0
3421081   2977660   206209  ...                12                     7.0
3421082    272231   206209  ...                14                    30.0

[3421083 rows x 7 columns]

### First Merge

1) Combine `orders` and `order_products`

2) We will use the `order_id` column to match information between the two datasets

3) Lets slim down our dataframes to only the information that we need. We do this because the merge process is complex. Why would we merge millions of rows together if we know that we're only going to need 11 rows when we're done

What specific conditions could we use to slim down the `orders` dataframe?

`user_id == 1` and `order_id <=2`

or

`order_id == 2539329` and `order_id == 2398795`

In [40]:
# An example of dataframe filtering

# order_products
# if (orders['user_id'] == 1) and (order_products['order_id'] <=2):
#   print ("yes")

# orders['user_id']
condition = orders['order_id'] < 5
# Create a condition
# order_products

# Pass that condition into the square brackets 
# that we use to access portions of a dataframe
# only the rows where that condition evaluates to *TRUE*
# will be retained in the dataframe
orders[condition]
# Look at the subsetted dataframe

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
1868044         1   112108  ...                10                     9.0
2958007         4   178520  ...                 9                     7.0
3355525         2   202279  ...                 9                     8.0
3417191         3   205970  ...                17                    12.0

[4 rows x 7 columns]

In [41]:
display(example)

In [47]:
orders

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
0         2539329        1  ...                 8                     NaN
1         2398795        1  ...                 7                    15.0
2          473747        1  ...                12                    21.0
3         2254736        1  ...                 7                    29.0
4          431534        1  ...                15                    28.0
...           ...      ...  ...               ...                     ...
3421078   2266710   206209  ...                18                    29.0
3421079   1854736   206209  ...                10                    30.0
3421080    626363   206209  ...                12                    18.0
3421081   2977660   206209  ...                12                     7.0
3421082    272231   206209  ...                14                    30.0

[3421083 rows x 7 columns]

In [56]:
# We don't necessarily have to save our condition to the variable "condition"
# we can pass the condition into the square brackest directly
# I just wanted to be clear what was happening inside of the square brackets

orders[orders['order_id'] < 5]

# orders[0:10,0:5]

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
1868044         1   112108  ...                10                     9.0
2958007         4   178520  ...                 9                     7.0
3355525         2   202279  ...                 9                     8.0
3417191         3   205970  ...                17                    12.0

[4 rows x 7 columns]

In [57]:
orders['user_id'] == 1

0           True
1           True
2           True
3           True
4           True
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Name: user_id, Length: 3421083, dtype: bool

In [61]:
orders['order_number'] <= 2

0           True
1           True
2          False
3          False
4          False
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Name: order_number, Length: 3421083, dtype: bool

In [69]:
# Filter based on user_id and order_number
# AND condition version 
# I need to use the "bitwise" and operator: &
condition = (orders['user_id'] == 1) & (orders ['order_number'] <= 2)
orders_subset = orders[condition]

Remember there are multiple ways that we could have filtered this dataframe. We also could have done it by specific `order_id`s

In [68]:
# use the bitwise "or" operator: |
condition = (orders['order_id'] == 2539329) | (orders['order_id'] == 2398795)
order_subset = orders[condition]

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0

[2 rows x 7 columns]

In [70]:
display(example)

Now we'll filter down the order_products dataframe

What conditions could we use for subsetting that table?

We can use order_id again.

In [71]:
condition = (order_products['order_id'] == 2539329) | (order_products['order_id'] == 2398795) 

order_products_subset = order_products[condition]
order_products_subset

          order_id  product_id  add_to_cart_order  reordered
22742744   2398795         196                  1          1
22742745   2398795       10258                  2          0
22742746   2398795       12427                  3          1
22742747   2398795       13176                  4          0
22742748   2398795       26088                  5          1
22742749   2398795       13032                  6          0
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

4) Now we're ready to merge these two tables together.

In [89]:
orders_and_products = pd.merge(orders_subset, order_products_subset, how = 'inner', on = 'order_id')
orders_and_products

    order_id  user_id eval_set  ...  product_id  add_to_cart_order  reordered
0    2539329        1    prior  ...         196                  1          0
1    2539329        1    prior  ...       14084                  2          0
2    2539329        1    prior  ...       12427                  3          0
3    2539329        1    prior  ...       26088                  4          0
4    2539329        1    prior  ...       26405                  5          0
5    2398795        1    prior  ...         196                  1          1
6    2398795        1    prior  ...       10258                  2          0
7    2398795        1    prior  ...       12427                  3          1
8    2398795        1    prior  ...       13176                  4          0
9    2398795        1    prior  ...       26088                  5          1
10   2398795        1    prior  ...       13032                  6          0

[11 rows x 10 columns]

In [72]:
display(example)

In [90]:
# Remove columns that we don't need
orders_and_products = orders_and_products.drop(['eval_set', 'days_since_prior_order', 'reordered'], axis = 1)
orders_and_products

    order_id  user_id  ...  product_id  add_to_cart_order
0    2539329        1  ...         196                  1
1    2539329        1  ...       14084                  2
2    2539329        1  ...       12427                  3
3    2539329        1  ...       26088                  4
4    2539329        1  ...       26405                  5
5    2398795        1  ...         196                  1
6    2398795        1  ...       10258                  2
7    2398795        1  ...       12427                  3
8    2398795        1  ...       13176                  4
9    2398795        1  ...       26088                  5
10   2398795        1  ...       13032                  6

[11 rows x 7 columns]

Okay, we're looking pretty good, we're missing one more column `product_name` so we're going to need to merge one more time

1) merge `orders_and_products` with `products`

2) Use `product_id` as our identifier in both tables

3) We need to slim down the `products` dataframe

In [78]:
products

       product_id  ... department_id
0               1  ...            19
1               2  ...            13
2               3  ...             7
3               4  ...             1
4               5  ...            13
...           ...  ...           ...
49683       49684  ...             5
49684       49685  ...             1
49685       49686  ...             3
49686       49687  ...             8
49687       49688  ...            11

[49688 rows x 4 columns]

In [91]:
condition = products['product_id'].isin(orders_and_products['product_id'])
products_subset = products[condition]
products_subset

       product_id  ... department_id
195           196  ...             7
10257       10258  ...            19
12426       12427  ...            19
13031       13032  ...            14
13175       13176  ...             4
14083       14084  ...            16
26087       26088  ...            19
26404       26405  ...            17

[8 rows x 4 columns]

In [92]:
final = pd.merge(orders_and_products, products_subset, how = 'inner', on = 'product_id')
final

    order_id  user_id  ...  aisle_id  department_id
0    2539329        1  ...        77              7
1    2398795        1  ...        77              7
2    2539329        1  ...        91             16
3    2539329        1  ...        23             19
4    2398795        1  ...        23             19
5    2539329        1  ...        23             19
6    2398795        1  ...        23             19
7    2539329        1  ...        54             17
8    2398795        1  ...       117             19
9    2398795        1  ...        24              4
10   2398795        1  ...       121             14

[11 rows x 10 columns]

In [93]:
final = final.drop(['aisle_id', 'department_id'], axis =1)
final

    order_id  ...                             product_name
0    2539329  ...                                     Soda
1    2398795  ...                                     Soda
2    2539329  ...  Organic Unsweetened Vanilla Almond Milk
3    2539329  ...                      Original Beef Jerky
4    2398795  ...                      Original Beef Jerky
5    2539329  ...               Aged White Cheddar Popcorn
6    2398795  ...               Aged White Cheddar Popcorn
7    2539329  ...         XL Pick-A-Size Paper Towel Rolls
8    2398795  ...                               Pistachios
9    2398795  ...                   Bag of Organic Bananas
10   2398795  ...                    Cinnamon Toast Crunch

[11 rows x 8 columns]

In [ ]:
display(example)

### Some nitpicky cleanup:

In [94]:
# sort rows
final = final.sort_values(by = 'order_id')

In [98]:
# reorder columns
final = final[['user_id', 'order_id', 'order_number','order_dow', 'order_hour_of_day', 'add_to_cart_order', 'product_id', 'product_name']]
final = final.drop('product_id', axis= 1)
final

    user_id  ...                             product_name
1         1  ...                                     Soda
4         1  ...                      Original Beef Jerky
6         1  ...               Aged White Cheddar Popcorn
8         1  ...                               Pistachios
9         1  ...                   Bag of Organic Bananas
10        1  ...                    Cinnamon Toast Crunch
0         1  ...                                     Soda
2         1  ...  Organic Unsweetened Vanilla Almond Milk
3         1  ...                      Original Beef Jerky
5         1  ...               Aged White Cheddar Popcorn
7         1  ...         XL Pick-A-Size Paper Towel Rolls

[11 rows x 7 columns]

In [99]:
# remove underscores from column headers

final.columns = [columns.replace('_',' ') for columns in final]
final

    user id  ...                             product name
1         1  ...                                     Soda
4         1  ...                      Original Beef Jerky
6         1  ...               Aged White Cheddar Popcorn
8         1  ...                               Pistachios
9         1  ...                   Bag of Organic Bananas
10        1  ...                    Cinnamon Toast Crunch
0         1  ...                                     Soda
2         1  ...  Organic Unsweetened Vanilla Almond Milk
3         1  ...                      Original Beef Jerky
5         1  ...               Aged White Cheddar Popcorn
7         1  ...         XL Pick-A-Size Paper Towel Rolls

[11 rows x 7 columns]

In [100]:
display(example)

## Challenge

Review this Chis Albon documentation about [concatenating dataframes by row and by column](https://chrisalbon.com/python/data_wrangling/pandas_join_merge_dataframe/) and then be ready to master this function and practice using different `how` parameters on your assignment.

# [Objective 3](#tidy) - Learn Tidy Data Format

## Overview

### Why reshape data?

#### Some libraries prefer data in different formats

For example, the Seaborn data visualization library prefers data in "Tidy" format often (but not always).

> "[Seaborn will be most powerful when your datasets have a particular organization.](https://seaborn.pydata.org/introduction.html#organizing-datasets) This format ia alternately called “long-form” or “tidy” data and is described in detail by Hadley Wickham. The rules can be simply stated:

> - Each variable is a column
- Each observation is a row

> A helpful mindset for determining whether your data are tidy is to think backwards from the plot you want to draw. From this perspective, a “variable” is something that will be assigned a role in the plot."

#### Data science is often about putting square pegs in round holes

Here's an inspiring [video clip from _Apollo 13_](https://www.youtube.com/watch?v=ry55--J4_VQ): “Invent a way to put a square peg in a round hole.” It's a good metaphor for data wrangling!